.Card {
    border: 1px solid #78909c;
    border-radius: 5px;
    height: 350px;
    background-color: #FFE0B2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    --grey:  #37474f;
    --fwLight: 200;
    --lh: 1.2em;
}

.Card__header {
    display: flex;
    flex-direction: column;
    min-height: 9vh;
}

.Card__header-top {
    display: flex;
    justify-content: space-between;
}

.Card__header-top h3 {
    margin: 5px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Card__header-right {
    padding-left: 20px;
}

.Card__status {
    border: 2px solid var(--grey);
    padding: 5px;
}

.Card__status p {
    margin: 0;
    font-weight: var(--fwLight);
}

.Card__meta-data p {
    margin: 0;
    font-size: .85em;
    font-weight: var(--fwLight);
}

.Card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Card__description {
    overflow: hidden;
    padding-top: 3vh;
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    line-height: var(--lh);
    min-height: calc(10.8 * var(--lh));
}

.Card__description p {
    margin: 0;
}

.Card__button {
    display: flex;
    justify-content: center;
}
.Card__button p {
    margin: 0;
    padding: 0 3px;
    font-weight: var(--fwLight);
}
